In [30]:
#importing important libraries

# basic libraries
import pandas as pd #data wrangling
import numpy as np #numerical computation
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

#data visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#importing the data

df = pd.read_csv(r'C:\Users\KIIT\Desktop\Lexis_100K_v4.csv')
df.head()

,CID,Total_bank_products,Products,CREDIT_SCORE,CUSTOMER_RATING,Num_Dependents,PinCode_rating,IsOnlineBankingUser,IsSmsBankingUser,IsChequeBookUser,...,Savings_Account_Mobile Recharge_Total,Savings_Account_Pharmacy/Healthcare_Total,Savings_Account_Shopping_Total,Savings_Account_Telephone Bill_Total,Savings_Account_Ticket Booking_Total,Savings_Account_Travel_Total,Savings_Account_Water Bill_Total,Savings_Account_Wellness and Fitness_Total,Savings_Churn_Predicted_Label,Life-Insurance_Cross-Sell prediction
0,CUST_ID000001,2,"Savings Account, Fixed Deposit",713,2.1,4,2,No,No,Yes,...,11,135,78,27,45,29,10,6,1,1
1,CUST_ID000003,1,Savings Account,700,2.0,4,3,Yes,Yes,Yes,...,6,185,0,28,58,0,0,1,1,0
2,CUST_ID000005,1,Savings Account,536,3.8,4,0,Yes,No,Yes,...,0,5,122,27,0,3,1,373,1,1
3,CUST_ID000006,2,"Savings Account, Fixed Deposit",732,2.1,1,0,Yes,Yes,Yes,...,1,3,183,13,36,72,0,94,1,0
4,CUST_ID000007,1,Savings Account,800,2.0,2,8,Yes,No,Yes,...,9,88,232,52,2,167,1,9,1,0

In [4]:
df['Life-Insurance_Cross-Sell prediction'].value_counts()

Life-Insurance_Cross-Sell prediction
0    57052
1    42948
Name: count, dtype: int64

In [5]:
# checking the shape of the data
print(df.shape) #number of rows and columns ( 1 being the target column )

(100000, 49)

In [6]:
#checking the null values
df.isnull().sum()

CID                                           0
Total_bank_products                           0
Products                                      0
CREDIT_SCORE                                  0
CUSTOMER_RATING                               0
Num_Dependents                                0
PinCode_rating                                0
IsOnlineBankingUser                           0
IsSmsBankingUser                              0
IsChequeBookUser                              0
Organisation_type                             0
Marital_Status                                0
Monthly_Income                                0
DTI                                           0
Is_app_user                                   0
Total_Experience                              0
months_current_job                            0
Existing_Customer_Since_When                  0
Type_of_employment                            0
Education                                     0
Is_Life_Insurance_Holder                      0
Has_OD                                        0
Has_FD                                        0
Has_Standard_Credit_Card                      0
Has_Premium_Credit_Card                       0
Has_Personal_Loan                             0
Avg Balance                                   0
Balance_Trend_Segment                         0
Count_minimum_balance_Total                   0
Savings_Account_Total                         0
Savings_Account_Cable Bill_Total              0
Savings_Account_Dining_Total                  0
Savings_Account_Electricity Bill_Total        0
Savings_Account_Entertainment_Total           0
Savings_Account_Gas Bill_Total                0
Savings_Account_Gasoline/Fuel_Total           0
Savings_Account_Grocery_Total                 0
Savings_Account_Internet Bill_Total           0
Savings_Account_Merchant_Total                0
Savings_Account_Mobile Recharge_Total         0
Savings_Account_Pharmacy/Healthcare_Total     0
Savings_Account_Shopping_Total                0
Savings_Account_Telephone Bill_Total          0
Savings_Account_Ticket Booking_Total          0
Savings_Account_Travel_Total                  0
Savings_Account_Water Bill_Total              0
Savings_Account_Wellness and Fitness_Total    0
Savings_Churn_Predicted_Label                 0
Life-Insurance_Cross-Sell prediction          0
dtype: int64

In [7]:
# dropping a column
df = df.drop('CID', axis=1)
df.head()

,Total_bank_products,Products,CREDIT_SCORE,CUSTOMER_RATING,Num_Dependents,PinCode_rating,IsOnlineBankingUser,IsSmsBankingUser,IsChequeBookUser,Organisation_type,...,Savings_Account_Mobile Recharge_Total,Savings_Account_Pharmacy/Healthcare_Total,Savings_Account_Shopping_Total,Savings_Account_Telephone Bill_Total,Savings_Account_Ticket Booking_Total,Savings_Account_Travel_Total,Savings_Account_Water Bill_Total,Savings_Account_Wellness and Fitness_Total,Savings_Churn_Predicted_Label,Life-Insurance_Cross-Sell prediction
0,2,"Savings Account, Fixed Deposit",713,2.1,4,2,No,No,Yes,mnc/kpo/bpo,...,11,135,78,27,45,29,10,6,1,1
1,1,Savings Account,700,2.0,4,3,Yes,Yes,Yes,mnc/kpo/bpo,...,6,185,0,28,58,0,0,1,1,0
2,1,Savings Account,536,3.8,4,0,Yes,No,Yes,others,...,0,5,122,27,0,3,1,373,1,1
3,2,"Savings Account, Fixed Deposit",732,2.1,1,0,Yes,Yes,Yes,mnc/kpo/bpo,...,1,3,183,13,36,72,0,94,1,0
4,1,Savings Account,800,2.0,2,8,Yes,No,Yes,mnc/kpo/bpo,...,9,88,232,52,2,167,1,9,1,0

In [8]:
# printing the shape again
print(df.shape)

(100000, 48)

In [9]:
# getting proportion of different categories in marital status
df['Marital_Status'].value_counts()

Marital_Status
Married     48359
Single      44937
Divorced     6704
Name: count, dtype: int64

In [10]:
df['Type_of_employment'].value_counts()

Type_of_employment
Salaried    100000
Name: count, dtype: int64

In [11]:
df['Education'].value_counts()

Education
Master         38711
High School    35089
Bachelor       14959
PhD            11241
Name: count, dtype: int64

In [12]:
df['Balance_Trend_Segment'].value_counts()

Balance_Trend_Segment
Decreasing    48352
Increasing    28911
Steady        22737
Name: count, dtype: int64

In [13]:
# getting proportions of values in target variable
df['Life-Insurance_Cross-Sell prediction'].value_counts()

Life-Insurance_Cross-Sell prediction
0    57052
1    42948
Name: count, dtype: int64

In [14]:
57052/(57052+42948)

0.57052

In [15]:
#Standard scaler

# backup
df_ready = df.copy() # since undo is not there in python

# importing other important libraries
from sklearn.preprocessing import StandardScaler

# Initialization
Scaler = StandardScaler()

# Making a list of numerical columns
num_cols=['CREDIT_SCORE' ,'CUSTOMER_RATING','Monthly_Income','DTI',
          'Total_Experience','months_current_job','Existing_Customer_Since_When'
          ,'Avg Balance','Count_minimum_balance_Total','Savings_Account_Total',
          'Savings_Account_Cable Bill_Total','Savings_Account_Dining_Total','Savings_Account_Electricity Bill_Total','Savings_Account_Entertainment_Total',
          'Savings_Account_Gas Bill_Total','Savings_Account_Gasoline/Fuel_Total','Savings_Account_Grocery_Total','Savings_Account_Internet Bill_Total',
         'Savings_Account_Merchant_Total','Savings_Account_Mobile Recharge_Total','Savings_Account_Pharmacy/Healthcare_Total','Savings_Account_Shopping_Total',
          'Savings_Account_Telephone Bill_Total','Savings_Account_Ticket Booking_Total','Savings_Account_Travel_Total','Savings_Account_Water Bill_Total',
         'Savings_Account_Wellness and Fitness_Total','Savings_Churn_Predicted_Label']

# scaling
df_ready[num_cols] = Scaler.fit_transform(df_ready[num_cols])
df_ready.head()

,Total_bank_products,Products,CREDIT_SCORE,CUSTOMER_RATING,Num_Dependents,PinCode_rating,IsOnlineBankingUser,IsSmsBankingUser,IsChequeBookUser,Organisation_type,...,Savings_Account_Mobile Recharge_Total,Savings_Account_Pharmacy/Healthcare_Total,Savings_Account_Shopping_Total,Savings_Account_Telephone Bill_Total,Savings_Account_Ticket Booking_Total,Savings_Account_Travel_Total,Savings_Account_Water Bill_Total,Savings_Account_Wellness and Fitness_Total,Savings_Churn_Predicted_Label,Life-Insurance_Cross-Sell prediction
0,2,"Savings Account, Fixed Deposit",0.238568,-0.504538,4,2,No,No,Yes,mnc/kpo/bpo,...,0.013795,0.580695,-0.116397,0.637773,0.767458,-0.361871,-0.302247,-0.974311,3.257975,1
1,1,Savings Account,0.101974,-0.689250,4,3,Yes,Yes,Yes,mnc/kpo/bpo,...,-0.401404,1.407767,-1.266886,0.706717,1.345023,-0.853534,-1.018771,-1.035143,3.257975,0
2,1,Savings Account,-1.621216,2.635570,4,0,Yes,No,Yes,others,...,-0.899643,-1.569691,0.532596,0.637773,-1.231806,-0.802673,-0.947119,3.490800,3.257975,1
3,2,"Savings Account, Fixed Deposit",0.438206,-0.504538,1,0,Yes,Yes,Yes,mnc/kpo/bpo,...,-0.816603,-1.602773,1.432337,-0.327444,0.367605,0.367146,-1.018771,0.096343,3.257975,0
4,1,Savings Account,1.152699,-0.689250,2,8,Yes,No,Yes,mnc/kpo/bpo,...,-0.152285,-0.196752,2.155080,2.361374,-1.142949,1.977765,-0.947119,-0.937811,3.257975,0

In [16]:
# dealing with categorical columns

# list of categorical columns
cat_cols = ['Products','Organisation_type','Marital_Status','Type_of_employment','Education','Balance_Trend_Segment']

# Encoding
df_ready = pd.get_dummies(data = df_ready, columns = cat_cols)

# encoding other yes no values of dataset
df_ready['IsOnlineBankingUser'] = df_ready['IsOnlineBankingUser'].apply(lambda x : 1 if x =='yes' else 0)
df_ready['IsSmsBankingUser'] = df_ready['IsSmsBankingUser'].apply(lambda x : 1 if x =='yes' else 0)
df_ready['IsChequeBookUser'] = df_ready['IsChequeBookUser'].apply(lambda x : 1 if x =='yes' else 0)
df_ready['Is_app_user'] = df_ready['Is_app_user'].apply(lambda x : 1 if x =='yes' else 0)
df_ready['Is_Life_Insurance_Holder'] = df_ready['Is_Life_Insurance_Holder'].apply(lambda x : 1 if x =='yes' else 0)

df_ready.head()

,Total_bank_products,CREDIT_SCORE,CUSTOMER_RATING,Num_Dependents,PinCode_rating,IsOnlineBankingUser,IsSmsBankingUser,IsChequeBookUser,Monthly_Income,DTI,...,Marital_Status_Married,Marital_Status_Single,Type_of_employment_Salaried,Education_Bachelor,Education_High School,Education_Master,Education_PhD,Balance_Trend_Segment_Decreasing,Balance_Trend_Segment_Increasing,Balance_Trend_Segment_Steady
0,2,0.238568,-0.504538,4,2,0,0,0,-1.041160,1.232744,...,True,False,True,True,False,False,False,False,True,False
1,1,0.101974,-0.689250,4,3,0,0,0,-0.254398,-0.625563,...,True,False,True,False,True,False,False,False,True,False
2,1,-1.621216,2.635570,4,0,0,0,0,-0.672985,-0.424866,...,True,False,True,False,True,False,False,False,False,True
3,2,0.438206,-0.504538,1,0,0,0,0,0.317855,-1.591882,...,False,True,True,False,False,True,False,False,True,False
4,1,1.152699,-0.689250,2,8,0,0,0,-1.014738,1.017180,...,True,False,True,False,False,True,False,True,False,False

In [17]:
# printing the shape of data
print(df_ready.shape)

(100000, 102)

In [18]:
df['Life-Insurance_Cross-Sell prediction'].value_counts()

Life-Insurance_Cross-Sell prediction
0    57052
1    42948
Name: count, dtype: int64

In [25]:
# seperating input and output features

# input feature
features = df_ready.drop('Life-Insurance_Cross-Sell prediction',axis = 1)

# target
target = df_ready['Life-Insurance_Cross-Sell prediction']

In [26]:
# Train Test Split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features, target, 
                                                    test_size = 0.2, random_state = 7, stratify=target)

In [27]:
# support vector machine

In [28]:
#model
from sklearn.svm import SVC
svm = SVC(kernel = 'rbf')

# fitting the model
svm.fit(X_train, y_train)

SVC()

In [23]:
# Predocting from the model
y_pred = svm.predict(X_test)

In [24]:
# Evaluatio
from sklearn.metrics import accuracy_score
print('Accuracy:', accuracy_score(y_test, y_pred))

Accuracy: 0.9136

In [33]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.92      0.93      0.92     11410
           1       0.91      0.89      0.90      8590

    accuracy                           0.91     20000
   macro avg       0.91      0.91      0.91     20000
weighted avg       0.91      0.91      0.91     20000

In [32]:
confusion_matrix(y_test,y_pred)

array([[10618,   792],
       [  936,  7654]], dtype=int64)